version: '3'

services:
  eoapi-remote-server:
    # build: 从当前路径构建镜像
    # build: .
    image: eolinker/eoapi-remote-server:latest
    container_name: eoapi-remote-server
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 10
    env_file:
      - .env
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    ports:
      - '${EOAPI_SERVER_PORT}:${EOAPI_SERVER_PORT}'
    networks:
      - eoapi_net

  mysql:
    image: mysql:latest
    container_name: eoapi-mysql
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 10
    env_file:
      - .env
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci #设置utf8字符集
    ports:
      - '${MYSQL_PORT}:3306'
    volumes:
      - ./sample/mysql/:/var/lib/mysql/ # ./sample/mysql/路径可以替换成自己的路径
    networks:
      - eoapi_net

  eoapi:
    image: eolinker/eoapi:latest
    container_name: eoapi
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 3
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    env_file:
      - .env
    ports:
      - '${EOAPI_WEB_SERVER_POST}:80'
    # volumes:
    # - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - eoapi_net

  eoapi-test-server:
    image: eolinker/eoapi-test-server:latest
    container_name: eoapi-test-server
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 3
    env_file:
      - .env
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    ports:
      - '${EOAPI_TEST_SERVER_PORT}:4201'
      - '${EOAPI_WEBSOCKET_POST}:4202'
    networks:
      - eoapi_net

networks:
  eoapi_net:
    name: eoapi_net
